*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial,Arial, Helvetica, sans-serif;
}
body{
    background-color: #f4f8fa;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}
.menu1 ul li {
    list-style-type: none;
    display: inline-block;
    padding:10px 15px 10px 15px;   
}

.menu1 .right{
    margin-right:50px;
}
.right fas{
    padding-right:5px;
}

.menu1 ul a{
    text-decoration: none;
    color:white;

}
.menu1 ul a:hover{
    color:#fee437;
}
.menu2{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #026db5;
    height: 50px;
    
    
   
}
.menu2 h1{
    color:white;
    font-size:30px;
    padding-left:150px;
}
.menu2 .search {
    width:350px;
    height: 35px;
    border-radius: 5px;
    padding:10px ;
}
.menu2 .fa-search {
    color:#c5cee0;
}
.menu2 #btnSearch {
    height:25px;
    position: relative;
    right:26px;
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    
}
.menu2 a {
    text-decoration: none;
    color:white;
    padding:0px 10px;
}

.menu2 .option{
    padding-right:150px;
}
.slider{
    height:300px;  
    background: url('../images/slide.png') no-repeat;
    background-size: 100% 100%;
    background-color: black;
    cursor: pointer; 
    margin:0 150px;  
}
.content .content-top{
    margin:10px 140px 0 180px;
}
.content-top img{
    cursor: pointer;
    width:24%;
    padding:5px
}
.content-uudai {
    display:flex;
}

.content-event .content-event-title{
    border-radius:30px;
    border:1px solid #026db5;
    width:50%;
    padding:10px;
    margin:20px 380px 0px;
    background-color:#026db5; 
}
.content-event-title h1{
    text-align: center;
}
.content-event-title a{
    color:white;
}
.content-list{
    /* position: relative; */
    display: flex;
    flex-wrap: wrap; /* flexbox xuống dòng */
    /* margin: 0 0 25px 15px; */
    /* margin-bottom:25px; */
    padding: 30px 100px 30px 180px;
    margin:0 30px;
    /* justify-items: center; */
    
}
.content-item{
    position: relative;
    /* display: inline-block; */
    /* border: 2px solid black; */
    /* border-radius: 8px; */
    margin: 10px;
    transition: 0.5s;
    left: 1.5%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
    transition: all .4s ease; 
    
}
.content-item:hover{
    transform: scale(1.1);
}
.content-item img{
    padding: 10px 25px 5px 25px; 
}
.content-item-name p{
    color:black;
    padding:5px 0 5px 10px;
}
.content-item-price p{
    color:#FF0000;
    font-weight:bold;
    padding:5px 0 5px 10px;
}
.star .fas{
    color:rgb(255,215,5);
    
}
.star{
    padding:5px 0 10px 10px;
}
.viewmore{
    position: relative;
    border: 1px solid #026db5; 
    width:10%;
    padding:5px 10px;
    margin: 10px;
    left:44%;
    background-color: white;
}
.viewmore a{
    color:#026db5; 
}

.viewmore h3{
    text-align: center;
}

.brand__list{
    position: relative;
    left:25%;
    padding: 30px 0;
    display: inline-block;
    
}

.brand__content{
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color:#fff;
    margin-right: 48px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 5px 5px 8px 5px rgb(0 0 0 / 25%);
}
.brand__content:hover{
    transform: scale(1.1,1.1);
}

.brand__content a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    position: relative;
    top: 10px;
}


#footer{
    background-color: #333;
    width: 100%;
    padding :0 30px;
    margin-top:60px;
    /* position: relative;
    left: 65px; */
}

.footer-top{
    position: relative;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
}
.footer-top-item{
    flex-basis: 30%;
    padding: 10px;
    margin: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}
.footer-top-item-content{
    flex-basis: 45%;
}
.footer-top-item-content h3{
    margin: 15px 0;
}
.footer-top-item-content p{
    margin: 15px 0 45px 0;
}
.footer-top-item-content a{
    padding: 15px 20px;
    background-color: #026db5;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
    position: relative;
    bottom: 20px;
}
.footer-top-item-content a:hover{
    background-color: white;
    color:#026db5;
    border: 1px solid #026db5;

}





.footer-center{
    color: #fff;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
}
.footer-center-item{
    flex-basis: 20%;
    margin: 60px 0;
}
.footer-center-item h2{
    margin: 0 0 30px 0;
}
.footer-center-item p{
    line-height: 25px;
}

.footer-center-item:first-child p{
    line-height: 30px;
    background-color: rgb(230, 224, 224);
    color: black;
    padding: 40px 30px;
    border-radius: 5px;
}


.footer-center-item-child{
    padding: 10px 0;
    border-bottom: 1px solid  #ddd;
}
.footer-center-item-child:last-child{
    border-bottom: none;
}

.footer-center-item:nth-child(3) img{
    width: 100px;
    height: 80px;
    margin: 5px;
    transition: all .3s ease;
}
.footer-center-item:nth-child(3) img:hover{
    border: 1px solid red;

    
    transform: scale(1.2);
}

.footer-center-item:nth-child(3) a{
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    background-color: #026db5; ;
    border-radius: 8px;
    position: relative;
    bottom: -65px;
    transition: 0.4s;
}

.footer-center-item:last-child a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px 0;
}
.footer-center-item:last-child a:last-child{
    display: inline-block;
    padding: 15px 25px;
    border-radius: 8px;
    background-color: #026db5; ;
    transition: 0.4s;
    position: relative;
    bottom: -128px;
}
.footer-center-item:last-child a:last-child:hover,
.footer-center-item:nth-child(3) a:hover{
    background-color: white;
    color:#026db5; 
    border:1px solid #026db5; 
}

